@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import './App.css';

:root {
  --font-robotic: 'Orbitron', sans-serif;
  --font-mono: 'Roboto Mono', monospace;
  --neon-cyan: #06b6d4;
  --neon-green: #22c55e;
  --neon-purple: #a855f7;
}

body {
  font-family: var(--font-mono);
  background-color: #000;
  color: #fff;
}

h1, h2, h3, h4, .font-robotic {
  font-family: var(--font-robotic);
  letter-spacing: 0.1em;
}
